@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --accent-color: #14b8a6;
}

html, body {
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    font-weight: 500;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
}

#grid-container > * {
    border: 1px solid black;
}

#sidebar {
    grid-row: 1 / -1;
    background-color: var(--accent-color);
    color: white;
}

#sidebar div {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#sidebar img {
    width: 40%;
    justify-self: center;
}

#header {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}

#header > div {
    border: 1px solid red;
    display: flex;
}

form {
    flex: 1;
    margin-right: 10%;
}

input {
    width: 100%;
}

#greeting {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#post-buttons  {
    margin-left: auto;
}