@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --accent-color: #14b8a6;
    --complement-color: orange;
    --header-bg-color: white;
    --content-bg-color: #e2e8f0;
    --shadow-color: #94a3b8;
    --para-color: #64748b;
}

html, body {
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    font-weight: 500;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
}

#sidebar {
    grid-row: 1 / -1;
    background-color: var(--accent-color);
    color: var(--content-bg-color);
}

#sidebar div {
    align-items: center;
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 8px;
    font-size: 18px;
}

#sidebar img {
    justify-self: center;
}

#sidebar img[alt="Dashboard Icon"] {
    height: 50px;
}

h1 {
    font-size: 24px;
    padding-right: 16px;
}

#menu-items div:nth-child(6) {
    margin-bottom: 50px;
}

#header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--header-bg-color);
    font-weight: 700;
    padding: 0px 24px 8px;
    box-shadow: 2px 2px 5px var(--shadow-color);
    z-index: 1;
}

#header > div {
    display: flex;
    align-items: center;
    gap: 16px;
}

#top-bar {
    padding: 16px;
}

#sidebar img,
#top-bar img,
.project img {
    height: 25px;
}

#header img[alt="Profile Picture"],
#trending img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

form {
    flex: 1;
    margin-right: 15%;
}

input {
    width: 100%;
    background-color: var(--content-bg-color);
    border: none;
    border-radius: 50px;
    height: 30px;
}

span,
#main-content h2,
.project h3 {
    font-size: 18px;
}

#lower-bar {
    padding-left: 16px;
    padding-right: 16px;
}

#header #lower-bar img {
    height: 75px;
    width: 75px;
    flex-shrink: 0;
}

#greeting {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

#greeting div:nth-child(2) {
    font-size: 18px;
}

@media screen and (min-width: 950px) {
    #greeting div:nth-child(2) {
      font-size: 24px;
    }
  }

#post-buttons  {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

button {
    border: none;
    background-color: var(--accent-color);
    color: var(--header-bg-color);
    height: 40px;
    width: 90px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
}

#main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--content-bg-color);
    padding: 16px;
    overflow: scroll;
}

#main-content > * {
    padding: 16px;
}

#projects {
    grid-row: 1 / -1;
}

#main-content h2,
h3 {
    font-weight: 500;
}

#project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
}

.project,
#announcements ul,
#trending ul {
    background-color: var(--header-bg-color);
    border-radius: 15px;
    box-shadow: 1px 1px 5px var(--shadow-color);
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
}

.project {
    border-left: 15px solid var(--complement-color);
}

.project p,
#announcements p,
h4 {
    margin-top: 0;
    color: var(--para-color);
}

#announcements p,
#trending h3,
#trending h4 {
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

.project div {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding-bottom: 16px;
}

hr {
    height: 1px;
    width: 100%;
    z-index: 10;
    margin-top: 16px;
}

#trending li {
    display: grid;
    align-items: center;
    grid-template-columns: 80px 1fr;
    margin-top: 12px;
    margin-bottom: 12px;
}