html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
    margin: 0;
}

.grid {
    display: grid;
}

#dashboard-grid {
    height: 100vh;
    grid-template: 1fr 4fr / 1fr 4fr;
}

#header-upper, #header-lower {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

#header-upper form {
    flex: 1;
}

#header-upper form input {
    width: 80%;
}

#header-greeting {
    flex: 1;
}

#sidenav {
    grid-area: 1 / 1 / -1 / 2;
}

.sidenav-field {
    display: flex;
    align-items: center;
}

.sidenav-field > * {
    padding: 16px;
}

#sidenav-setting {
    margin-top: 3rem;
}

#main-content {
    grid-template: 1fr 1fr / 2fr 1fr;
}

#main-projects {
    grid-area: 1 / 1 / -1 / -2;
}

#main-projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.project-card p {
    -webkit-line-clamp: 5;
}

.announcement-item p, .project-card p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
}

.announcement-item p {
    -webkit-line-clamp: 3;
}

.trending-item {
    display: flex;
}

/* FOR DEBUGGING */
 #dashboard-grid > *, #main-content > * {
    border: 1px solid red;
}